a,img{
	margin: 0;
	padding: 0;
}
img{
	width: 200px;
	display: block; 
}
.box{
	width: 800px;
	font-size:0;
}
.box1{
	display: inline-block;
	position:relative;
	overflow: hidden;
	text-decoration:none;
}
.bax1{
	position:absolute;
	bottom:-150px;
	transition:0.7s;
}
.box1:hover .bax1{
	position: absolute;
	bottom:0px;
}
